.bg422{
	width: 318px;
	height: 422px;
	background: url(../img/bg2.png) 0 0 no-repeat;
	background-size: 318px 422px;
	position: absolute;
	top: 453px;
	right: 84px;
	z-index: -1;
}
.container{
	padding-bottom: 60px;
}
.main{
	width: 0;
	height: 0;
	border-top: 855px solid #f5f5f5;
	border-left: 645px solid transparent;
	border-right: 645px solid transparent;
	margin: 0 auto;
}
.contact{
	margin-top: -802px;
	margin-left: -271px;
	width: 556px;
	position: relative;
}
.outer{
	height: 117px;
	width: 542px;
	padding: 38px 0 38px 14px;
	background-color: #fff;
	line-height: 30px;
	color: #666;
	position: relative;;
	z-index: 2;
}
.outer i{
	width: 12px;
	background-size: 100%;
	display: inline-block;
	vertical-align: middle;
}
.outer span{
	float: left;
}
.w326{
	width: 326px;
}
.company{
	font-size: 16px;
	color: #3b3b3b;
	margin-bottom: 30px;
}
.i1{
	height: 13px;
	background: url(../img/email.png) 0 0 no-repeat;
}
.i2{
	height: 16px;
	background: url(../img/telephone.png) 0 0 no-repeat;
}
.i3{
	height: 18px;
	background: url(../img/pointer.png) 0 0 no-repeat;
}
.i4{
	height: 15px;
	background: url(../img/internet.png) 0 0 no-repeat;
}
.map-outer{
	float: left;
	margin: 75px 0 0 -200px;
	position: relative;
}
.map-outer img{
	position: relative;
	z-index: 2;
}