.container{
	padding-bottom: 46px;
}
.main{
	padding: 31px 31px 85px;
	background-color: #f5f5f5;
	width: 1078px;
	margin: 0 auto;
	position: relative;
}
.content{
	padding: 31px;
	background-color: #fff;
	width: 1016px;
	position: relative;
	z-index: 2;
}
.content>div,.content>img{
	margin-bottom: 30px;
	overflow: hidden;
}
.text-outer{
	float: left;
	width: 662px;
}
.text-outer p{
	text-indent: 24px;
	color: #3c3c3c;
	font-size: 12px;
	line-height: 18px;
}
.content .no-bottom{
	margin-bottom: 0;
}