.container{
	padding-bottom: 130px;
}
.licenses ul{
	float: left;
	margin: -20px 0 0 -16px;
}
.licenses li{
	margin: 20px 0 0 16px;
	width: 215px;
	float: left;
	background-color: #fff;
}
.licenses span{
	line-height: 35px;
	height: 40px;
	text-align: center;
	display: block;
	font-size: 14px;
	color: #3b3b3b;
}
.imgholder{
	height: 190px;
	width: 100%;
	background: url(../img/z1.png) center center no-repeat;
	background-size: 196px 181px;
	border-bottom: 1px solid #000;
}
.z2{
	background: url(../img/z3.png) center center no-repeat;
}
.z3{
	background: url(../img/z7.png) center center no-repeat;
}
.z4{
	background: url(../img/z4.png) center center no-repeat;
}
